# MQTT
MQTT_BROKER=mqtt://homeassistant.local:1883
MQTT_USERNAME=kwatch
MQTT_PASSWORD=changeme

# Weather - OpenWeatherMap (https://openweathermap.org/api)
OWM_API_KEY=4711db55c096a5f06189cf465db54e51
OWM_LAT=56.1629
OWM_LON=10.2039

# Air Quality - WAQI (https://aqicn.org/data-platform/token/)
WAQI_TOKEN=0b94731c9428eccb6a21ca9ab52a58bf6a3f8995
